<div class="row wrapper border-bottom white-bg page-heading">
    <!--<div class="col-lg-10">-->
    <!--<h2>Data Tables</h2>-->
    <!--<ol class="breadcrumb">-->
    <!--<li>-->
    <!--<a href="index.html">Home</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a>Tables</a>-->
    <!--</li>-->
    <!--<li class="active">-->
    <!--<strong>Data Tables</strong>-->
    <!--</li>-->
    <!--</ol>-->
    <!--</div>-->
    <!--<div class="col-lg-2">-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="wrapper wrapper-content animated fadeInRight">-->
    <!--<div class="row">F-->
    <!--<div class="col-lg-12">-->
    <!--<div class="ibox float-e-margins">-->

    <!--</div>-->

    <!--<div>-->
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>win table </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-9 m-b-xs">
                            <div class="btn-group" dropdown >
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle>
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Action</a></li>
                                    <li><a href="">Remove</a></li>
                                    <li><a href="">assign</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <td>#</td>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Date</th>
                        <th>Country</th>
                        <th>option</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.checkOne"></td>
                        <td>1</td>
                        <td>
                            first man
                        </td>
                        <td>
                            first man
                        </td>
                        <td>Jul 14, 2013</td>
                        <td>Ethiopia</td>
                        <td><a class="btn btn-primary btn-rounded" href="">Assign</a></td>

                    </tr>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.unCheck1"></td>
                        <td>2</td>
                        <td>secondman</td>
                        <td>
                            first man
                        </td>
                        <td>jun 9, 2015</td>
                        <td>Ethiopia</td>
                        <td><a class="btn btn-primary btn-rounded" href="">Assign</a></td>

                    </tr>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.unCheck2"></td>
                        <td>3</td>
                        <td>third person</td>
                        <td>
                            first man
                        </td>
                        <td>aug 5,2015</td>
                        <td>Ethiopia</td>
                        <td><a class="btn btn-primary btn-rounded" href="">Assign</a></td>
                    </tr>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.unCheck3"></td>
                        <td>4</td>
                        <td>fourth man</td>
                        <td>
                            first man
                        </td>
                        <td>jan 12,2015</td>
                        <td>Ethiopia</td>
                        <td><a class="btn btn-primary btn-rounded" href="">Assign</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4" >
            <!--<div class="col-md-12">-->
            <div class="ibox-content text-center">
                <h1>additional information</h1>
            </div>
            <div class="m-b-sm">
                <img alt="image" class="" src="">
            </div>
            <p class="font-bold"></p>

            <div class="text-center">
                <!--<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>-->
                <!--<a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>-->
                <a class="btn btn-xs btn-primary"></i> update</a>
            </div>
        </div>
    </div>
</div>
